<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
		<section name="Configuration" type="Tenaris.Tamsa.View.Reports.Model.Configuration.ReportsConfiguration, Tenaris.Tamsa.View.Reports.Model"/>
	
	</configSections>

	<log
		maxFileCount="100"
		maxQueueSize="10000"
		noQueue="true"
		maxFileSize="8096"
		dumpStack="true"
		msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
		logLevel="Debug"
		traceAttributeLogEnabled="false"
		additionalLogDestination="Console"
		path="C:\Logs\"
		logBaseName="TenarisPipes"/>
	
	<Configuration Connection="connection" ConnectionTimeOut="20"/>

	<connectionStrings>
		<add name="Connection"
            connectionString="Data Source=TENARIS;Initial Catalog=TenarisPipes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>