<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tenaris.Tamsa.View.Reports.Properties.Settings.TenarisPipesConnectionString"
            connectionString="Data Source=TENARIS;Initial Catalog=TenarisPipes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>